body {
  font-family: Helvetica;
  background-color: #FFCA28;
}

h1 {
  background-color: red;
  font-size: 36px;

}

h2 {
  background-color: #FFEE58;
  font-size: 26px;
}

h3 {
  background-color: #C6FF00;
}

p {
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
}
